@font-face {
    font-family: 'Inter';
    src: url(../../../public/fonts/inter/Inter-VariableFont.ttf);
}

.header {
    font-family: 'Inter';
    display: flex;
    height: 80px;
    background-color: #FFFFFF;
    padding: 0 22px;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color:#000000D9;
    gap: 20px;

    a {
        color: #1890FF;
        text-decoration: none;
    }

    &__signIn {
        margin-left: auto;
        margin-right: 27px;
    }

    &__signUp {
        color: #52C41A;
        padding: 10px 18px;
        border: 1px solid #52C41A;
        border-radius: 5px;
    }
}

